<div layout="row">
  {{paper-input label="Notification text" flex=true value=model.notification.text isInvalid=showNotificationTextInvalid errortext="Notification text is required"}}
  {{#paper-select placeholder="Notify On" item-label-callback=transitionTypeLabel model=model.transitionType}}
    {{#each transitionTypes as |type|}}
      {{#paper-option value=type.id}}
        {{type.label}}
      {{/paper-option}}
    {{/each}}
  {{/paper-select}}
</div>

<div layout>
  <div layout layout-align="center center">
    <span>Within</span>
  </div>
  {{paper-slider flex=true warn=true discrete=true value=model.radius step="1" min="30" max="5000"}}
  <div layout layout-align="center center">
    {{model.radius}}m
  </div>
</div>

{{select-location-map location=model}}
