{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    <span>Geofence regions</span>
    <span flex></span>
    {{#paper-button icon-button=true action="add"}}{{paper-icon icon="add"}}{{/paper-button}}
    {{#paper-button icon-button=true}}{{paper-icon icon="more-vert"}}{{/paper-button}}
  </div>
{{/paper-toolbar}}

{{#if isWorking}}
  {{paper-progress-linear}}
{{/if}}

{{#if isPending}}
  <div class="loading" layout="row" layout-align="center center">
    {{paper-progress-circular}}
  </div>
{{else}}
  {{#paper-list}}
    {{#each model as |geofence|}}
      {{#paper-item class="md-3-line" action="edit" param=geofence}}
        <div class="md-list-item-text">
          <p>
            {{geofence.notification.text}}
          </p>
          {{#paper-button icon-button=true action="delete" param=geofence}}
            {{paper-icon icon="delete"}}
          {{/paper-button}}
        </div>
      {{/paper-item}}
    {{/each}}

    {{#unless anyGeofences}}
      {{#paper-card}}
        {{#paper-card-content}}
          <p>
            There are no geofences added yet.
          </p>
        {{/paper-card-content}}
      {{/paper-card}}
    {{/unless}}
  {{/paper-list}}
{{/if}}
