{{#paper-toolbar classNames="md-scroll-shrink"}}
  <div class="md-toolbar-tools">
    <span>Geofence regions</span>
    <span flex></span>

    {{#paper-menu as |menu|}}
      {{#paper-button target=menu action="toggleMenu" icon-button=true}}
        {{paper-icon class="md-menu-origin" icon="more-vert"}}
      {{/paper-button}}
    {{else}}
      {{#paper-menu-item action="testApplication"}}
        {{paper-icon icon="check" class="md-menu-align-target"}}
        <span>Test application</span>
      {{/paper-menu-item}}
      {{#paper-menu-item action="removeAll"}}
        {{paper-icon icon="delete" class="md-menu-align-target"}}
        <span>Remove all geofences</span>
      {{/paper-menu-item}}
    {{/paper-menu}}
  </div>
{{/paper-toolbar}}

{{#paper-content}}
  {{working-indicator isWorking=isWorking}}

  {{#loading-container promise=promise}}
    {{geofence-list geofences=model edit="edit" delete="delete"}}
  {{/loading-container}}
{{/paper-content}}
{{#paper-button classNames="md-fab md-fab-bottom-right" icon-button=true action="add"}}{{paper-icon icon="add"}}{{/paper-button}}
